asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.1
deep-translator==1.11.4
Django==5.2
idna==3.10
mysqlclient==2.2.7
python-decouple==3.8
requests==2.32.3
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.4.0
